* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: arial;
  outline-style: none; }

footer,
header,
main {
  font-size: 16px; }

#top {
  font-size: 5.5vw;
  color: #BD3633;
  position: fixed;
  bottom: 4%;
  right: 5%; }

h3 {
  font-size: 1.5em;
  color: #BD3633; }

button {
  cursor: pointer;
  outline-style: none; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

#header-top,
.search-main,
h1 {
  background: #F1F2F1; }

#header-top {
  overflow: hidden;
  overflow-x: hidden;
  height: 40px;
  line-height: 40px;
  font-size: 0.85em; }

.header-left {
  margin-left: 6%; }
  .header-left li {
    float: left; }
  .header-left i {
    margin-left: 5px;
    vertical-align: text-top;
    font-size: 1em; }

.header-hkm {
  margin-left: 5px;
  cursor: pointer; }

.header-input,
.header-list {
  width: 285px;
  background: white; }

.header-wraper, .search-main-list .search-main-wraper {
  position: absolute;
  top: 40px;
  display: none;
  z-index: 10; }

.header-hkm:hover .header-wraper, .header-hkm:hover .search-main-list .search-main-wraper, .search-main-list .header-hkm:hover .search-main-wraper {
  display: block; }

.header-wraper::before, .search-main-list .search-main-wraper::before {
  content: '';
  width: 10px;
  height: 10px;
  background: white;
  position: absolute;
  top: -5px;
  left: 30px;
  transform: rotateZ(45deg); }

.header-input {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #E4E5E4; }
  .header-input li {
    width: inherit;
    height: inherit;
    text-align: center; }
  .header-input input {
    width: 240px;
    height: 35px;
    background: url("img/search.png") no-repeat;
    background-size: 6%;
    background-position: 4% 50%;
    padding-left: 30px;
    font-size: 1em;
    outline-style: none;
    border: 1px solid #E4E5E4; }

.header-list {
  height: 320px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .header-list li {
    width: inherit;
    height: 40px;
    line-height: 40px;
    color: #BD3633;
    font-size: 1em;
    font-weight: bold;
    margin-left: 25px; }

.header-right {
  float: right;
  margin-right: 6%; }
  .header-right li {
    display: inline-block; }
    .header-right li:first-child {
      text-decoration: underline; }
    .header-right li button {
      width: 88px;
      height: 25px;
      background: #BD3633;
      color: white;
      font-size: 1em;
      border: 1px solid #BD3633;
      margin-left: 10px; }

.header-right button:hover {
  background: white;
  color: #BD3633; }

.fa-globe {
  margin: 9px;
  font-size: 1.3em;
  vertical-align: middle; }

.fa-sort-down {
  vertical-align: text-top;
  margin-left: 2px; }

.fa-search {
  font-size: 1em;
  margin-left: 10px; }
  .fa-search:hover {
    color: #BD3633;
    cursor: pointer; }

#header-main {
  background: #BD3633;
  height: 65px;
  width: 100%; }
  #header-main div {
    width: 100%; }
    #header-main div #logo {
      position: absolute;
      left: 6%;
      height: 65px; }
    #header-main div .fa-align-justify,
    #header-main div .fa-search {
      display: none; }

.nav-list {
  width: 100%;
  display: inline-block;
  text-align: center; }
  .nav-list li:nth-child(3) {
    position: relative;
    width: 100px; }
  .nav-list li:nth-child(1),
  .nav-list li:nth-child(2),
  .nav-list li:nth-child(4),
  .nav-list li:nth-child(5) {
    padding: 0 10px; }
  .nav-list .nav-item {
    display: inline-block;
    height: 65px;
    line-height: 65px;
    color: white;
    font-size: 0.85em; }

.nav-item:hover {
  background: white;
  color: #BD3633;
  cursor: pointer; }

.ls-list {
  position: absolute;
  width: 177px;
  height: 300px;
  background: white;
  color: #BD3633;
  display: none; }
  .ls-list li {
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    font-size: 1.2em;
    text-align: left;
    font-weight: border; }

.nav-list li:nth-child(3):hover .ls-list {
  display: block; }

.ls-list li:hover {
  background: #F1F2F1; }

.search-main {
  margin: 105px 0 35px;
  height: 210px;
  background: #F1F2F1;
  width: 100%;
  min-width: 690px; }
  .search-main .search-main-list {
    display: inline-block; }

.search-main-list {
  position: relative; }
  .search-main-list .search-main-hkm {
    line-height: 45px;
    cursor: pointer; }
    .search-main-list .search-main-hkm i {
      vertical-align: top; }
  .search-main-list .search-main-wraper {
    position: absolute;
    top: 49px;
    font-size: 0.45em; }
    .search-main-list .search-main-wraper input {
      text-align: center; }
    .search-main-list .search-main-wraper .listHKM {
      text-align: left;
      padding-left: 25px;
      margin-left: 0; }

.search-main-wraper {
  display: none; }

.search-main-hkm:hover .search-main-wraper {
  display: block; }

.title-main {
  width: inherit;
  height: 50%; }

.title-main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center; }

.search-bar {
  text-align: center;
  margin: 20px 0;
  font-size: 0; }
  .search-bar input {
    width: 61%;
    height: 55px;
    padding-left: 30px;
    outline: medium;
    border: 1px solid #e1e2e1;
    border-right: 0;
    font-size: 16px; }
  .search-bar input:focus {
    border: 1px solid #969a96;
    border-right: 0; }
  .search-bar button {
    height: 56px;
    line-height: 57px;
    width: 70px;
    background: #BD3633;
    outline-style: none;
    border: 1px solid #BD3633; }
    .search-bar button i {
      margin: 0;
      color: white;
      font-size: 20px; }

.search-bar button:hover {
  background: white; }
  .search-bar button:hover i {
    color: #BD3633; }

#key-articles {
  box-shadow: 1px 0 7px #d7d9d7;
  width: 1163px;
  margin: 0 auto 38px;
  height: 561px;
  min-width: 690px; }
  #key-articles .cover {
    width: 65.9%;
    position: relative;
    display: inline-block; }
    #key-articles .cover .cover-wrapper article .cover-content {
      position: relative;
      width: 100%; }
      #key-articles .cover .cover-wrapper article .cover-content img {
        width: 100%; }
      #key-articles .cover .cover-wrapper article .cover-content .window {
        width: 40%;
        padding: 20px 0;
        background: white;
        position: absolute;
        top: 40px;
        left: 40px; }
        #key-articles .cover .cover-wrapper article .cover-content .window h6 {
          width: 120px;
          height: 34px;
          line-height: 34px;
          background: #BD3633;
          background: linear-gradient(-63.5deg, transparent 15px, #BD3633 0);
          margin-bottom: 20px;
          text-align: left;
          padding-left: 15px;
          color: white;
          font-size: 0.9em; }
        #key-articles .cover .cover-wrapper article .cover-content .window div {
          padding-left: 15px; }
          #key-articles .cover .cover-wrapper article .cover-content .window div button {
            padding: 5px 10px;
            border: 1px solid #BD3633;
            color: #BD3633;
            font-size: 1em;
            cursor: pointer; }
            #key-articles .cover .cover-wrapper article .cover-content .window div button:hover {
              background: #BD3633;
              color: white; }
          #key-articles .cover .cover-wrapper article .cover-content .window div span {
            display: inline-block; }
            #key-articles .cover .cover-wrapper article .cover-content .window div span:first-child {
              font-size: 150%;
              font-weight: bolder;
              font-family: sans-serif; }
            #key-articles .cover .cover-wrapper article .cover-content .window div span:nth-child(3) {
              margin-bottom: 20px;
              color: #6e766e;
              font-size: 0.7rem; }
            #key-articles .cover .cover-wrapper article .cover-content .window div span:last-child {
              width: 90px;
              height: 25px;
              line-height: 25px;
              text-align: center;
              border: 1px solid #BD3633;
              color: #BD3633;
              font-size: 0.55rem; }

.side,
.side article,
.side div,
.side h6 {
  display: inline-block; }

.side {
  width: 33%;
  height: 560px;
  vertical-align: top; }
  .side .button-wrapper, .side #events .button-wrapper-event, #events .side .button-wrapper-event, .side .button-onInstagram {
    display: none; }
  .side img {
    width: 57%; }
  .side .side-item-last {
    border-bottom: none; }
  .side article {
    width: 100%;
    height: 33.3%;
    position: relative;
    padding-top: 0.35em;
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e6e4; }
    .side article div {
      width: 40%;
      vertical-align: top; }
      .side article div h6 {
        position: absolute;
        top: 0;
        left: 0;
        height: 34px;
        line-height: 34px;
        background: #BD3633;
        background: linear-gradient(-63.5deg, transparent 15px, #BD3633 0);
        margin-top: 20px;
        text-align: left;
        padding: 0 35px 0 20px;
        color: white;
        font-size: 0.9em; }
      .side article div span {
        font-size: 1.1em;
        font-weight: bolder; }
        .side article div span:last-child {
          display: block;
          margin-top: 2px;
          color: #6e766e;
          font-size: 0.75em;
          font-weight: lighter;
          font-family: arial; }

#michelin-selec {
  width: 1163px;
  min-width: 690px;
  margin: 0 auto 25px;
  position: relative;
  border-top: 1px solid #F1F2F1; }
  #michelin-selec .button-wrapper, #michelin-selec #events .button-wrapper-event, #events #michelin-selec .button-wrapper-event, #michelin-selec .button-onInstagram {
    display: none; }
  #michelin-selec h3 {
    color: #BD3633;
    padding-bottom: 35px;
    font-size: 25px;
    height: 76px;
    line-height: 76px; }
  #michelin-selec .michelin-selec-intro {
    box-shadow: 1px 0 7px #d7d9d7;
    overflow: hidden;
    width: 100%; }
    #michelin-selec .michelin-selec-intro .intro-pic-wrapper {
      position: relative;
      float: left;
      width: 49%; }
      #michelin-selec .michelin-selec-intro .intro-pic-wrapper img {
        float: left;
        width: 100%; }
      #michelin-selec .michelin-selec-intro .intro-pic-wrapper .tip {
        display: inline-block;
        background: rgba(98, 112, 125, 0.7);
        color: white;
        font-size: 0.6em;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        width: 55px;
        height: 20px;
        line-height: 20px; }
    #michelin-selec .michelin-selec-intro div,
    #michelin-selec .michelin-selec-intro p {
      display: inline-block; }
    #michelin-selec .michelin-selec-intro .michelin-selec-wrapper {
      width: 48%;
      vertical-align: top;
      margin-left: 1em;
      padding-top: 1em; }
      #michelin-selec .michelin-selec-intro .michelin-selec-wrapper h6 {
        font-size: 25px; }
        #michelin-selec .michelin-selec-intro .michelin-selec-wrapper h6 i {
          vertical-align: baseline;
          margin-left: 6px;
          color: red;
          font-size: 0.75em; }
      #michelin-selec .michelin-selec-intro .michelin-selec-wrapper span {
        display: block;
        margin-bottom: 15px;
        color: #879087;
        font-size: 0.95em;
        font-weight: lighter; }
      #michelin-selec .michelin-selec-intro .michelin-selec-wrapper P {
        font-size: 1.15em;
        line-height: 25px;
        color: #242724; }

#michelin-selec-items {
  width: 1163px;
  margin: 0 auto 38px; }
  #michelin-selec-items .row-1,
  #michelin-selec-items .row-2 {
    display: flex; }
  #michelin-selec-items .row-1 {
    margin-bottom: 36px; }
    #michelin-selec-items .row-1 .row-item-1,
    #michelin-selec-items .row-1 .row-item-2 {
      flex: 1;
      margin-right: 36px; }
    #michelin-selec-items .row-1 .row-item-3 {
      flex: 1; }
  #michelin-selec-items .row-2 .row-item-4,
  #michelin-selec-items .row-2 .row-item-5 {
    flex: 1;
    margin-right: 36px; }
  #michelin-selec-items .row-2 .row-item-6 {
    flex: 1; }
  #michelin-selec-items figure, #michelin-selec-items .further-more {
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 0 7px #d7d9d7; }
    #michelin-selec-items figure div, #michelin-selec-items .further-more div {
      width: 100%;
      position: relative;
      float: left; }
    #michelin-selec-items figure img, #michelin-selec-items .further-more img {
      width: 100%;
      float: left; }
    #michelin-selec-items figure .icon, #michelin-selec-items .further-more .icon {
      display: inline-block;
      background: rgba(98, 112, 125, 0.7);
      color: white;
      font-size: 0.6em;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      padding: 0 5px;
      height: 20px;
      line-height: 20px; }
  #michelin-selec-items figcaption {
    overflow: hidden;
    padding: 12px; }
    #michelin-selec-items figcaption h6 {
      font-size: 1.1em; }
      #michelin-selec-items figcaption h6 i {
        vertical-align: middle;
        font-size: 0.7em;
        color: red;
        margin-right: 1px; }
        #michelin-selec-items figcaption h6 i:first-child {
          margin-left: 7px; }
    #michelin-selec-items figcaption span {
      color: #6e766e;
      font-size: 0.9em; }
    #michelin-selec-items figcaption .forth {
      display: inline-block;
      margin-bottom: 19%; }
    #michelin-selec-items figcaption .fifth {
      display: inline-block;
      margin-bottom: 5.7%; }
    #michelin-selec-items figcaption button {
      display: block;
      width: 95px;
      height: 28px;
      border: 1px solid #BD3633;
      color: #BD3633;
      font-size: 0.9em; }
      #michelin-selec-items figcaption button:hover {
        background: #BD3633;
        color: white; }
  #michelin-selec-items .further-more {
    text-align: center; }
    #michelin-selec-items .further-more h6 {
      font-size: 4em;
      margin-top: 32%; }
    #michelin-selec-items .further-more span {
      display: inline-block;
      width: 150px;
      margin: 5px 0 10px; }
    #michelin-selec-items .further-more button {
      display: block;
      margin: 0 auto;
      background: #BD3633;
      border: 1px solid #BD3633;
      color: white;
      font-size: 1em;
      width: 200px;
      height: 40px;
      margin-bottom: 32.3%; }
      #michelin-selec-items .further-more button i {
        padding-left: 15px;
        font-size: 0.8em; }
      #michelin-selec-items .further-more button:hover {
        border: 1px solid #BD3633;
        color: #BD3633;
        background: white; }

#top-picks {
  margin-bottom: 38px;
  width: 100%;
  height: 455px;
  background: #F1F2F1;
  text-align: center; }
  #top-picks .top-picks-title {
    width: 1163px;
    height: 65px;
    line-height: 65px;
    text-align: left;
    display: inline-block; }
    #top-picks .top-picks-title .h3 {
      font-size: 1.5em;
      color: black; }
  #top-picks .top-picks-wrapper {
    width: 1163px;
    height: 327px;
    display: inline-block;
    overflow: hidden;
    position: relative; }
    #top-picks .top-picks-wrapper .top-picks-container {
      width: 200%; }
      #top-picks .top-picks-wrapper .top-picks-container figure, #top-picks .top-picks-wrapper .top-picks-container #michelin-selec-items .further-more, #michelin-selec-items #top-picks .top-picks-wrapper .top-picks-container .further-more {
        width: 11.7%;
        height: 325px;
        display: inline-block;
        float: left;
        box-shadow: 1px 0 7px #d7d9d7;
        background: white;
        margin-right: 25px; }
        #top-picks .top-picks-wrapper .top-picks-container figure div, #top-picks .top-picks-wrapper .top-picks-container #michelin-selec-items .further-more div, #michelin-selec-items #top-picks .top-picks-wrapper .top-picks-container .further-more div {
          width: 100%;
          position: relative;
          float: left; }
          #top-picks .top-picks-wrapper .top-picks-container figure div img, #top-picks .top-picks-wrapper .top-picks-container #michelin-selec-items .further-more div img, #michelin-selec-items #top-picks .top-picks-wrapper .top-picks-container .further-more div img {
            width: 100%;
            float: left; }
          #top-picks .top-picks-wrapper .top-picks-container figure div span, #top-picks .top-picks-wrapper .top-picks-container #michelin-selec-items .further-more div span, #michelin-selec-items #top-picks .top-picks-wrapper .top-picks-container .further-more div span {
            display: inline-block;
            background: rgba(98, 112, 125, 0.7);
            color: white;
            font-size: 0.6em;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            padding: 0 5px;
            height: 20px;
            line-height: 20px; }
        #top-picks .top-picks-wrapper .top-picks-container figure button, #top-picks .top-picks-wrapper .top-picks-container #michelin-selec-items .further-more button, #michelin-selec-items #top-picks .top-picks-wrapper .top-picks-container .further-more button {
          display: block;
          height: 27px;
          padding: 0 8px;
          margin-top: 20px;
          border: 1px solid #BD3633;
          color: #BD3633;
          font-size: 0.9em;
          font-weight: bold; }
      #top-picks .top-picks-wrapper .top-picks-container figcaption {
        text-align: left;
        display: inline-block;
        padding: 12px 10px 0; }
        #top-picks .top-picks-wrapper .top-picks-container figcaption h6 {
          font-size: 1em; }
          #top-picks .top-picks-wrapper .top-picks-container figcaption h6 i {
            vertical-align: middle;
            font-size: 0.7em;
            color: red;
            margin-right: 1px; }
            #top-picks .top-picks-wrapper .top-picks-container figcaption h6 i:first-child {
              margin-left: 7px; }
        #top-picks .top-picks-wrapper .top-picks-container figcaption span {
          color: #6e766e;
          font-size: 0.85em; }
  #top-picks .fa-angle-left {
    position: absolute;
    top: 135px;
    left: 5px; }
  #top-picks .fa-angle-right {
    position: absolute;
    top: 135px;
    right: 5px; }
  #top-picks .top-picks-wrapper:hover .fa-angle-left {
    display: block; }
  #top-picks .top-picks-wrapper:hover .fa-angle-right {
    display: block; }
  #top-picks .fa-angle-left,
  #top-picks .fa-angle-right {
    color: #BD3633;
    font-size: 1.5rem;
    display: none; }

#handPick {
  width: 1163px;
  margin: 0 auto 38px; }
  #handPick h3 {
    font-size: 1.5em;
    color: #BD3633;
    margin-bottom: 38px; }
  #handPick div {
    height: 425.5px;
    box-shadow: 1px 0 7px #d7d9d7; }
    #handPick div img {
      width: 49%; }
    #handPick div figcaption {
      display: inline-block;
      width: 45%;
      vertical-align: top;
      margin-left: 12px; }
      #handPick div figcaption h6 {
        font-size: 1.45em;
        margin: 20px 0 3px; }
      #handPick div figcaption span {
        font-size: 1em;
        color: #6e766e; }
      #handPick div figcaption p {
        margin-top: 20px;
        font-size: 1.2em;
        line-height: 25px; }
      #handPick div figcaption button {
        display: block;
        width: 88px;
        height: 25px;
        background: white;
        color: #BD3633;
        font-size: 1em;
        border: 1px solid #BD3633;
        margin-top: 15px; }
        #handPick div figcaption button:hover {
          width: 88px;
          height: 25px;
          background: #BD3633;
          color: white;
          font-size: 1em; }

#handPick-items {
  width: 1163px;
  margin: 0 auto 38px; }
  #handPick-items .row-1,
  #handPick-items .row-2 {
    display: flex; }
  #handPick-items .row-1 {
    margin-bottom: 36px; }
    #handPick-items .row-1 .row-item-1,
    #handPick-items .row-1 .row-item-2 {
      flex: 1;
      margin-right: 36px; }
    #handPick-items .row-1 .row-item-3 {
      flex: 1; }
  #handPick-items .row-2 .row-item-4,
  #handPick-items .row-2 .row-item-5 {
    flex: 1;
    margin-right: 36px; }
  #handPick-items .row-2 .row-item-6 {
    flex: 1; }
  #handPick-items figure, #handPick-items #michelin-selec-items .further-more, #michelin-selec-items #handPick-items .further-more {
    width: 31%;
    height: 380px;
    vertical-align: top;
    box-shadow: 1px 0 7px #d7d9d7;
    display: inline-block; }
    #handPick-items figure img, #handPick-items #michelin-selec-items .further-more img, #michelin-selec-items #handPick-items .further-more img {
      width: 100%; }
    #handPick-items figure figcaption h6, #handPick-items #michelin-selec-items .further-more figcaption h6, #michelin-selec-items #handPick-items .further-more figcaption h6 {
      font-size: 1em;
      margin: 10px 0 0 10px; }
    #handPick-items figure figcaption span, #handPick-items #michelin-selec-items .further-more figcaption span, #michelin-selec-items #handPick-items .further-more figcaption span {
      display: inline-block;
      margin-left: 10px;
      font-size: 0.9em;
      color: #6e766e; }

.button-wrapper, #events .button-wrapper-event, .button-onInstagram {
  width: 1163px;
  margin: 0 auto;
  padding-bottom: 38px;
  margin-top: 38px;
  text-align: center;
  border-bottom: 1px solid #E4E5E4; }
  .button-wrapper button, #events .button-wrapper-event button, .button-onInstagram button {
    padding: 0 20px;
    height: 40px;
    border: 1px solid #BD3633;
    background: #BD3633;
    color: white;
    font-size: 1em; }
    .button-wrapper button i, #events .button-wrapper-event button i, .button-onInstagram button i {
      margin-left: 10px;
      vertical-align: text-bottom; }
    .button-wrapper button:hover, #events .button-wrapper-event button:hover, .button-onInstagram button:hover {
      background: white;
      color: #BD3633;
      border: 1px solid #BD3633; }

#events {
  width: 1163px;
  min-width: 690px;
  margin: 0 auto 38px;
  margin-bottom: 150px;
  height: 487px; }
  #events h3 {
    font-size: 1.5em;
    color: #BD3633;
    margin-bottom: 38px; }
  #events div {
    height: 424px;
    box-shadow: 1px 0 7px #d7d9d7; }
    #events div img {
      width: 49%; }
    #events div figcaption {
      display: inline-block;
      width: 45%;
      vertical-align: top;
      margin-left: 12px; }
      #events div figcaption h6 {
        font-size: 1.45em;
        margin: 20px 0 3px; }
      #events div figcaption span {
        font-size: 1em;
        color: #6e766e; }
      #events div figcaption p {
        margin-top: 20px;
        font-size: 1.2em;
        line-height: 25px; }
      #events div figcaption button {
        width: 90px;
        height: 25px;
        border: 1px solid #BD3633;
        color: #BD3633;
        background: white;
        font-size: 1em;
        margin-top: 10px; }
        #events div figcaption button:hover {
          cursor: pointer;
          background: #BD3633;
          color: white; }
  #events .button-wrapper-event {
    height: 80px;
    box-shadow: none; }

#onInstagram {
  width: 100%;
  height: 380px;
  margin: 0 auto 38px;
  position: relative;
  overflow: hidden; }
  #onInstagram div {
    width: 1163px;
    margin: 0 auto; }
    #onInstagram div h3 {
      font-size: 1.5em;
      color: #BD3633; }
    #onInstagram div span {
      display: inline-block;
      padding: 5px 0 26px;
      font-size: 1.1em; }
  #onInstagram .pic-wrapper {
    font-size: 0;
    width: 100%;
    height: 297px;
    overflow: hidden; }
    #onInstagram .pic-wrapper .pic-container {
      width: 300%;
      float: left; }
      #onInstagram .pic-wrapper .pic-container img {
        border-left: 1px solid; }

.button-onInstagram {
  margin-bottom: 38px; }

#partnerships {
  width: 1163px;
  height: 185px;
  margin: 0 auto 38px;
  position: relative; }
  #partnerships h3 {
    padding-bottom: 20px; }
  #partnerships .partnerships-wrapper {
    text-align: center;
    height: 135px; }
    #partnerships .partnerships-wrapper .partner,
    #partnerships .partnerships-wrapper .principal {
      display: inline-block;
      width: 45%; }
    #partnerships .partnerships-wrapper .partner img {
      width: 185px; }
    #partnerships .partnerships-wrapper .principal img {
      width: 172px; }
    #partnerships .partnerships-wrapper span {
      display: block;
      font-weight: bold;
      padding-top: 27px; }

#guide-selec {
  width: 1163px;
  height: 400px;
  margin: 0 auto; }
  #guide-selec ul {
    margin-top: 30px;
    column-count: 4; }
    #guide-selec ul li {
      margin-bottom: 15px; }
      #guide-selec ul li a {
        color: black;
        text-decoration: none;
        font-size: 0.97em; }

#subscribe {
  width: 100%;
  min-width: 690px;
  height: 185px;
  background: #F1F2F1;
  text-align: center; }
  #subscribe h3 {
    padding-top: 35px;
    text-align: center; }
  #subscribe span {
    display: block;
    margin-top: 7px; }
  #subscribe button {
    height: 43px;
    padding: 0 20px;
    border: 1px solid #BD3633;
    background: #BD3633;
    color: white;
    font-size: 1em;
    margin-top: 20px; }
    #subscribe button:hover {
      background: white;
      color: #BD3633;
      border: 1px solid #BD3633; }

footer {
  width: 100%;
  background: #181918;
  color: white; }
  footer .micheline-guide {
    width: 45px; }

#Platform {
  width: 1163px;
  height: 90px;
  line-height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #555c55; }
  #Platform div {
    margin-top: 8px; }
  #Platform .apps {
    float: left; }
    #Platform .apps img,
    #Platform .apps span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.75em;
      font-weight: bold; }
    #Platform .apps span {
      margin-left: 10px; }
      #Platform .apps span .appstore,
      #Platform .apps span .googleplay {
        width: 75px;
        border: 1px solid #6e766e;
        border-radius: 5px; }
      #Platform .apps span:first-child {
        margin-left: 0; }
      #Platform .apps span:nth-child(2) {
        margin-left: 20px; }
  #Platform .social {
    float: right; }
    #Platform .social i,
    #Platform .social span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.65em;
      font-weight: bold;
      color: #a2a8a2;
      margin-left: 15px; }
      #Platform .social i i,
      #Platform .social span i {
        font-size: 2.5em;
        color: white; }

.items-list {
  width: 1163px;
  height: 160px;
  margin: 0 auto;
  border-bottom: 1px solid #555c55; }
  .items-list .items-list-wrapper {
    display: inline-block;
    width: 70%;
    height: 120px;
    margin-top: 35px; }
    .items-list .items-list-wrapper .sm-display {
      display: none;
      width: 100%; }
      .items-list .items-list-wrapper .sm-display li {
        display: inline-block;
        margin-right: 20%; }
        .items-list .items-list-wrapper .sm-display li a {
          color: white;
          text-decoration: none;
          font-size: 0.75em; }
    .items-list .items-list-wrapper ul {
      display: inline-block;
      vertical-align: top;
      margin-right: 12%; }
      .items-list .items-list-wrapper ul:nth-last-child(2) {
        margin-right: 0; }
      .items-list .items-list-wrapper ul li {
        margin-bottom: 7px; }
        .items-list .items-list-wrapper ul li a {
          color: white;
          text-decoration: none;
          font-size: 0.75em; }

.footer-lang-selec {
  height: 120px;
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  padding-left: 45px; }
  .footer-lang-selec .lang-selec-wrapper {
    position: relative;
    height: auto; }
    .footer-lang-selec .lang-selec-wrapper i {
      color: white;
      font-size: 0.9em;
      margin: 5px; }
    .footer-lang-selec .lang-selec-wrapper .lang-selector {
      width: 140px;
      height: 35px;
      border: 1px solid #a2a8a2;
      background: black;
      border-radius: 0;
      font-size: 1em;
      color: white;
      outline-style: none;
      padding-left: 10px; }

#copyright {
  width: 1163px;
  height: 55px;
  line-height: 55px;
  margin: 0 auto;
  font-size: 0.75em;
  color: #a2a8a2; }
  #copyright span {
    display: inline-block; }
    #copyright span a {
      color: white;
      text-decoration: none;
      margin-left: 5px; }

@media screen and (max-width: 1200px) {
  #Platform, #copyright, #events, #guide-selec, #handPick, #handPick-items, #key-articles, .button-wrapper, #events .button-wrapper-event, .button-onInstagram, #michelin-selec, #michelin-selec-items,
  #onInstagram div,
  #partnerships,
  .items-list {
    width: 900px; }

  #events {
    margin-bottom: 60px; }
    #events div {
      height: 325px; }

  #top-picks {
    height: 418px; }
    #top-picks .top-picks-title {
      width: 900px; }
    #top-picks .top-picks-wrapper {
      width: 900px;
      height: 290px; }
      #top-picks .top-picks-wrapper .top-picks-container figure, #top-picks .top-picks-wrapper .top-picks-container #michelin-selec-items .further-more, #michelin-selec-items #top-picks .top-picks-wrapper .top-picks-container .further-more {
        margin-right: 20px; }

  #key-articles {
    font-size: 14px;
    height: 434.5px; }
    #key-articles .side {
      height: 434.5px; }

  #handPick div {
    height: 328px; }

  #handPick-items figure, #handPick-items #michelin-selec-items .further-more, #michelin-selec-items #handPick-items .further-more {
    height: 305px; } }
#Platform .items-list .items-list-wrapper ul {
  margin-right: 10px; }

.footer-lang-selec {
  width: 25%;
  margin-left: 20px; }
  .footer-lang-selec .lang-selec-wrapper {
    width: 100%;
    height: auto; }

@media screen and (max-width: 992px) {
  #Platform, #copyright, #events, #guide-selec, #handPick, #handPick-items, #key-articles, .button-wrapper, #events .button-wrapper-event, .button-onInstagram, #michelin-selec, #michelin-selec-items,
  #top-picks .top-picks-title,
  #top-picks .top-picks-wrapper,
  #onInstagram div,
  #partnerships,
  .items-list,
  #copyright {
    width: 767px; }

  header #header-main .nav-list {
    margin-left: 60px; }
    header #header-main .nav-list .nav-item {
      font-size: 0.8em; }

  main .search-main {
    height: 180px;
    margin-bottom: 25px; }
    main .search-main h1 {
      font-size: 1.7em; }
    main .search-main .search-main-list .search-main-hkm {
      line-height: 30px; }
      main .search-main .search-main-list .search-main-hkm .search-main-wraper {
        top: 40px; }
    main .search-main .search-bar {
      height: 40px; }
      main .search-main .search-bar input {
        height: 40px; }
      main .search-main .search-bar button {
        width: 40px;
        height: 40px;
        line-height: 40px; }
        main .search-main .search-bar button i {
          font-size: 1.5em; }

  #key-articles {
    height: 375px; }
    #key-articles .cover .cover-wrapper article figure .window h6, #key-articles .cover .cover-wrapper article #michelin-selec-items .further-more .window h6, #michelin-selec-items #key-articles .cover .cover-wrapper article .further-more .window h6 {
      color: blue; }
    #key-articles .cover .cover-wrapper article figure .window div span, #key-articles .cover .cover-wrapper article #michelin-selec-items .further-more .window div span, #michelin-selec-items #key-articles .cover .cover-wrapper article .further-more .window div span {
      font-size: 10px; }
    #key-articles .side article {
      height: auto;
      padding-bottom: 0; }
      #key-articles .side article h6 {
        font-size: 0.9em;
        height: 2em;
        line-height: 2em;
        padding: 1px 20px 1px 5px; }
      #key-articles .side article span {
        font-size: 0.95em; }

  #michelin-selec h3 {
    font-size: 1.2em; }
  #michelin-selec .michelin-selec-intro .michelin-selec-wrapper {
    padding-top: 10px; }
    #michelin-selec .michelin-selec-intro .michelin-selec-wrapper h6 {
      font-size: 1.2em; }
    #michelin-selec .michelin-selec-intro .michelin-selec-wrapper span {
      font-size: 0.9em;
      margin-bottom: 5px; }
    #michelin-selec .michelin-selec-intro .michelin-selec-wrapper p {
      font-size: 1em; }

  #top-picks {
    margin-bottom: 25px; }
    #top-picks .top-picks-title .h3 {
      font-size: 1.3em; }

  #handPick h3 {
    font-size: 1.3em;
    margin-bottom: 25px; }
  #handPick div {
    height: 280px; }
    #handPick div figcaption h6 {
      font-size: 1.2em; }
    #handPick div figcaption span {
      font-size: .95em; }
    #handPick div figcaption p {
      font-size: 1em; }

  .button-wrapper, #events .button-wrapper-event, .button-onInstagram {
    padding-bottom: 25px;
    margin-top: 25px; }

  #handPick-items {
    margin-bottom: 25px; }

  #events {
    margin-bottom: 25px; }
    #events h3 {
      font-size: 1.3em;
      margin-bottom: 25px; }
    #events div {
      height: 280px; }
      #events div figcaption h6 {
        font-size: 1.2em; }
      #events div figcaption span {
        font-size: .95em; }
      #events div figcaption p {
        margin-top: 5px;
        font-size: 1em; }
    #events .button-wrapper-event {
      margin-top: 25px;
      padding-bottom: 0;
      height: 70px; }

  #onInstagram {
    margin-bottom: 20px; }
    #onInstagram div h3 {
      font-size: 1.3em; }
    #onInstagram div span {
      font-size: .9em; }

  #subscribe h3 {
    font-size: 1.3em; }
  #subscribe span {
    font-size: .9em; }

  footer #Platform {
    height: 80px; }
    footer #Platform .apps {
      height: 50px;
      margin-top: 0; }
      footer #Platform .apps span:first-child, footer #Platform .apps span:nth-child(2) {
        display: none; }
      footer #Platform .apps span:nth-child(3) img, footer #Platform .apps span:nth-child(4) img {
        width: 140px; }
    footer #Platform .social {
      margin-right: 80px; }
  footer .footer-lang-selec {
    width: 70%;
    height: 50px;
    padding: 0;
    margin: 20px 0 0;
    position: absolute;
    top: 0; }
    footer .footer-lang-selec .lang-selec-wrapper {
      width: 100%;
      margin-right: 0;
      position: absolute; }
      footer .footer-lang-selec .lang-selec-wrapper .lang-selector {
        width: 90%; }
  footer .items-list {
    position: relative;
    height: 130px; }
    footer .items-list .items-list-wrapper {
      width: 0;
      height: 60px; }
      footer .items-list .items-list-wrapper .md-display {
        display: none; }
      footer .items-list .items-list-wrapper .sm-display {
        display: inline-block;
        width: 100%;
        margin: 0 0 15px;
        position: absolute;
        bottom: 0; }
        footer .items-list .items-list-wrapper .sm-display li {
          margin-right: 21%; }
          footer .items-list .items-list-wrapper .sm-display li:last-child {
            margin-right: 0; }

  #guide-selec,
  #partnerships {
    display: none; } }
@media screen and (max-width: 846px) {
  #Platform, #copyright, #events, #guide-selec, #handPick, #handPick-items, #key-articles, .button-wrapper, #events .button-wrapper-event, .button-onInstagram, #michelin-selec, #michelin-selec-items,
  #handPick-items, #onInstagram div, #partnerships,
  .items-list {
    width: 720px; }

  #header-top {
    display: none; }

  #subscribe {
    width: 100%; }

  footer {
    width: 100%;
    padding: 0 10px; }
    footer #Platform {
      width: 100%;
      height: 158px;
      overflow: hidden; }
      footer #Platform .social {
        width: 100%;
        height: 60px;
        float: left;
        margin-top: 0;
        padding-top: 5px;
        overflow: hidden; }

  footer #Platform .apps {
    width: 100%;
    height: 90px;
    padding-top: 20px; }
    footer #Platform .apps span:nth-child(3), footer #Platform .apps span:nth-child(4) {
      color: red;
      width: 35%; }
      footer #Platform .apps span:nth-child(3) img, footer #Platform .apps span:nth-child(4) img {
        width: 100%; }
  footer .items-list {
    width: 100%; } }
@media screen and (max-width: 846px) and (max-width: 768px) {
  #Platform, #copyright, #events, #guide-selec, #handPick, #handPick-items, #key-articles, .button-wrapper, #events .button-wrapper-event, .button-onInstagram, #michelin-selec, #michelin-selec-items,
  #onInstagram div,
  #partnerships,
  .button-onInstagram,
  .button-wrapper-event,
  .items-list {
    width: 690px; }

  footer {
    min-width: 690px; }
    footer footer #copyright {
      width: 100%;
      text-align: left; } }
@media screen and (max-width: 846px) {
  #logo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto; }

  #header-main {
    height: 65px; }
    #header-main .nav-list {
      display: none;
      position: relative; }
    #header-main div {
      width: 768px;
      margin: 0 auto; }
      #header-main div .fa-align-justify,
      #header-main div .fa-search {
        display: inline-block;
        line-height: 65px;
        color: white;
        position: absolute;
        z-index: 999;
        font-size: 1em; }
      #header-main div .fa-align-justify {
        left: 70px; }
      #header-main div .fa-search {
        right: 70px; }

  main .search-main {
    margin: 65px 0 20px;
    height: 175px; }
    main .search-main .title-main {
      font-size: 0.6em; }
      main .search-main .title-main h1 {
        width: 300px; }
  main .search-main-list .search-main-hkm {
    line-height: 20px;
    text-decoration: none; }
    main .search-main-list .search-main-hkm .search-main-wraper {
      display: none; }
    main .search-main-list .search-main-hkm .fa-sort-down {
      vertical-align: text-top;
      display: none; }
  main .search-bar input {
    width: 85%;
    height: 35px;
    padding-left: 20px; }
  main .search-bar button {
    height: 35px;
    line-height: 35px;
    width: 35px; }
    main .search-bar button i {
      font-size: 1.3em; }

  #key-articles {
    width: 90%;
    height: auto;
    box-shadow: none;
    margin-bottom: 0; }
    #key-articles .cover {
      width: 100%;
      position: relative;
      height: 100%;
      box-shadow: 1px 0 7px #d7d9d7; }
      #key-articles .cover article:first-child {
        height: auto;
        border-bottom: 1px solid #e4e6e4; }
        #key-articles .cover article:first-child .cover-content {
          position: relative; }
          #key-articles .cover article:first-child .cover-content .window {
            display: block;
            height: auto;
            background: rgba(255, 0, 0, 0);
            padding-top: 0;
            position: static; }
            #key-articles .cover article:first-child .cover-content .window h6 {
              height: 20px;
              line-height: 20px;
              position: absolute;
              top: 15px; }
            #key-articles .cover article:first-child .cover-content .window div {
              padding-top: 10px;
              height: 10%; }
              #key-articles .cover article:first-child .cover-content .window div span:first-child {
                font-size: 1.1em; }
      #key-articles .cover article:nth-child(2) .cover-content, #key-articles .cover article:nth-child(3) .cover-content, #key-articles .cover article:nth-child(4) .cover-content {
        position: relative;
        padding: 10px 0 7px;
        border-bottom: 1px solid #e4e6e4; }
        #key-articles .cover article:nth-child(2) .cover-content img, #key-articles .cover article:nth-child(3) .cover-content img, #key-articles .cover article:nth-child(4) .cover-content img {
          width: 49%; }
        #key-articles .cover article:nth-child(2) .cover-content .window, #key-articles .cover article:nth-child(3) .cover-content .window, #key-articles .cover article:nth-child(4) .cover-content .window {
          padding: 5px 0;
          display: inline-block;
          vertical-align: top;
          position: static; }
          #key-articles .cover article:nth-child(2) .cover-content .window h6, #key-articles .cover article:nth-child(3) .cover-content .window h6, #key-articles .cover article:nth-child(4) .cover-content .window h6 {
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 15px;
            left: 0; }
          #key-articles .cover article:nth-child(2) .cover-content .window div, #key-articles .cover article:nth-child(3) .cover-content .window div, #key-articles .cover article:nth-child(4) .cover-content .window div {
            height: 40px; }
            #key-articles .cover article:nth-child(2) .cover-content .window div button, #key-articles .cover article:nth-child(3) .cover-content .window div button, #key-articles .cover article:nth-child(4) .cover-content .window div button {
              display: none; }
            #key-articles .cover article:nth-child(2) .cover-content .window div span:first-child, #key-articles .cover article:nth-child(3) .cover-content .window div span:first-child, #key-articles .cover article:nth-child(4) .cover-content .window div span:first-child {
              font-size: 1.1em; }
    #key-articles .side {
      margin-top: 20px;
      width: 100%;
      height: auto; }
      #key-articles .side .button-wrapper, #key-articles .side #events .button-wrapper-event, #events #key-articles .side .button-wrapper-event, #key-articles .side .button-onInstagram {
        width: 100%;
        margin: 10px 0 0;
        padding: 0;
        border-bottom: none;
        font-size: 1.1em;
        display: none; }
      #key-articles .side .side-item-last {
        margin-bottom: 0; }
      #key-articles .side article {
        margin-bottom: 20px;
        padding: 0;
        box-shadow: 1px 0 7px #d7d9d7; }
        #key-articles .side article img {
          width: 100%; }
        #key-articles .side article div {
          padding: 15px; }
          #key-articles .side article div h6 {
            margin: 0;
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 15px; }

  #michelin-selec {
    width: 90%;
    height: auto;
    border-top: none; }
    #michelin-selec .button-wrapper, #michelin-selec #events .button-wrapper-event, #events #michelin-selec .button-wrapper-event, #michelin-selec .button-onInstagram {
      padding: 15px 0;
      margin-bottom: 0;
      width: 100%; }
    #michelin-selec h3 {
      font-size: 1.1em;
      border-top: none; }
    #michelin-selec .michelin-selec-intro {
      width: 100%; }
      #michelin-selec .michelin-selec-intro .intro-pic-wrapper {
        width: 100%; }
      #michelin-selec .michelin-selec-intro .michelin-selec-wrapper {
        width: 100%; }
        #michelin-selec .michelin-selec-intro .michelin-selec-wrapper h6 {
          font-size: 1em; }
        #michelin-selec .michelin-selec-intro .michelin-selec-wrapper span {
          font-size: 0.8em; }
        #michelin-selec .michelin-selec-intro .michelin-selec-wrapper p {
          display: block;
          width: 97%;
          padding-bottom: 3%;
          font-size: 1.1em; }

  #handPick,
  #handPick-items,
  #michelin-selec-items,
  #top-picks {
    display: none; }

  #events {
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 0; }
    #events .button-wrapper-event {
      border: none;
      box-shadow: none;
      margin: 0;
      padding: 20px 0 0; }
    #events h3 {
      font-size: 1.1em;
      margin-bottom: 25px; }
    #events div {
      width: 100%;
      height: auto; }
      #events div figure, #events div #michelin-selec-items .further-more, #michelin-selec-items #events div .further-more {
        width: 100%; }
        #events div figure img, #events div #michelin-selec-items .further-more img, #michelin-selec-items #events div .further-more img {
          width: 100%; }
        #events div figure figcaption, #events div #michelin-selec-items .further-more figcaption, #michelin-selec-items #events div .further-more figcaption {
          width: 100%; }
          #events div figure figcaption h6, #events div #michelin-selec-items .further-more figcaption h6, #michelin-selec-items #events div .further-more figcaption h6 {
            font-size: 1em; }
          #events div figure figcaption span, #events div #michelin-selec-items .further-more figcaption span, #michelin-selec-items #events div .further-more figcaption span {
            font-size: 0.8em; }
          #events div figure figcaption p, #events div #michelin-selec-items .further-more figcaption p, #michelin-selec-items #events div .further-more figcaption p {
            display: block;
            width: 97%;
            font-size: 1.1em;
            margin-top: 5px; }
          #events div figure figcaption button, #events div #michelin-selec-items .further-more figcaption button, #michelin-selec-items #events div .further-more figcaption button {
            margin-bottom: 3%; }

  #onInstagram {
    height: auto; }
    #onInstagram div {
      margin-top: 25px; }
      #onInstagram div h3 {
        font-size: 1.1em; }
    #onInstagram .pic-wrapper {
      margin-top: 0;
      height: auto; }
      #onInstagram .pic-wrapper .pic-container {
        margin-top: 0;
        height: auto; }
        #onInstagram .pic-wrapper .pic-container img {
          width: 100px; }

  .button-onInstagram {
    margin-bottom: 0;
    border-bottom: 0; }

  #subscribe h3 {
    font-size: 1.1em; } }

/*# sourceMappingURL=michelin.css.map */
